/* Counter tasbih start */

body{
     font-family: Arial, sans-serif;
}

.container{
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    width: 800px;
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    margin: auto;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}


#number{
    /* width: 30px; */
    font-size: 40px;
    margin: 30px 0;
    background: #d1d0d0;
    padding: 10px;
    /* margin-left: 90px; */
    border-radius: 5px;
}

.btn1{
     font-size: 20px;
    padding: 5px 100px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
}

.btn2{
    font-size: 20px;
    padding: 5px 99px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
}

#reset {
    margin-top: 15px;
    padding: 8px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

/* end */



/* Password start */

.container2{
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    width: 800px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    margin: auto;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}



input{
    width:50%;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:14px;
}

input:focus{
    box-shadow: 1px 2px 15px -4px #6783df;
}

.eye{
    position:absolute;
    left:980px ;
    top: 835px;
    /* transform:translateY(-10%); */
    cursor:pointer;
    font-size:18px;
}




/* Password end */



/* Check number */

.green{
    color:green;
    font-weight:bold;
}

.red{
    color:red;
    font-weight:bold;
}